<div nz-row nzAlign="middle" nzType="flex" nzGutter="8" nzJustify="start">
    <div nz-col>
        <button nz-button nzType="primary" (click)="useMerge()">merge</button>
    </div>
</div>
<div nz-row nzAlign="middle" nzType="flex" nzGutter="8" nzJustify="start" class="margin_top_8">
    <div nz-col>
        <button nz-button nzType="primary" (click)="useConcat()">concat</button>
    </div>
    <div nz-col>
        <button nz-button nzType="primary" (click)="concatMessage()">concat message</button>
    </div>
    <div nz-col>
        <div id="message"></div>
    </div>
</div>
<div nz-row nzAlign="middle" nzType="flex" nzGutter="8" nzJustify="start" class="margin_top_8">
    <div nz-col>
        <button nz-button nzType="primary" (click)="useCombineLatest()">combineLatest</button>
    </div>
</div>